* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
height: 100vh;
  background-color: #a9a9a9;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #3c0080;
  border: 1px solid #3c0080;
  color: white;
  padding: 0.5rem 1.5rem;
  margin: 6px 10px;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #5b14ac;
  border-color: #5b14ac;
}